@font-face {
    font-family: GraphikBold;
    src: url(/html/Font\ Family/GraphikBold);
    font-weight: Bold;
  }
  *{
      margin-top:0px;
  }

 body{
/* 
    background-image: url(/html/Background.jpg);
    background-repeat:no-repeat;
    background-size:cover; */
    background-color:black;
 } 


section#top{
    background-image: url(/images/Background.jpg);
    background-repeat:no-repeat;
    background-position:right;
    background-size: 50% 100%;
    max-width:1200px;
    max-height:600px;

}
#logo{
    max-width:28.6vw;
    max-height:19.8vw;
    margin:15% 0% 15% 15%;
}
@media screen and (max-width: 640px) {
     section#top {
        background-image: url(/images/Background.jpg);
        background-repeat:no-repeat;
        background-position:right;
        background-size: 50%;
        size:auto;
    } 

}

#logo:hover{
    opacity: 0.6;
}
#words{
    float:left;
    padding-left:5%
}
ul {
    display:inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    position:fixed;
    background-color:black;
    width:100%
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    background-color:black;
    color:white;
    text-decoration:none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.08vw;
    text-align:center;
    font-weight:bold;
    font-size:1.2vw;
    
  }
  /* .dropdown {
    position: relative;
    display: none;
    float:right;
  }*/
  /* @media screen and (max-width: 640px) { 
    .dropbtn {
        background-color: Black;
        color: white;
        padding: 2vw;
        font-size: 2vw;
        font-family:verdana;
        border: none;
        margin-left:7vw;
      }
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color:black;
        width: 100%;
        overflow:auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content li a {
        position:relative;  
        color: white;
        padding: 1vw 1vw;
        text-decoration: none;
        font-family:verdana;
        display: block;
        right:0;
        float:right;
        font-size:2vw;
      }
      
      .dropdown-content a:hover {background-color: #ddd;}
      
      .dropdown:hover .dropdown-content {display: block;}
      
      .dropdown:hover .dropbtn {background-color: grey;}
      

} */
  /* @media screen and (max-width: 640px) {
    li a {
      font-size:2.3vw
   } 

} */
  .words{
      padding:1.1vw;
  }

  #imagetesting{
      float:right;
      padding-left:13%;
      padding-right:10%;
  }
  .images{
      width:2vw;
      height:2vw;
      padding-right:0.66vw;
      padding-left:0.66vw;
      padding-top:0.66vw;
      padding-bottom:0.66vw;

  }
 
  .images:hover{
    opacity: 0.6;
    width:2.4vw;
    height:2.4vw;
  }
  li a:hover {
    color: blue;
  }
  #tour{
      width:14.0vw;
      height:8vw;
      position:fixed;
      right:0px;
      bottom:0px;
      padding-right:5vw;
      padding-bottom:3vw;
    }
  #tour:hover{
    opacity: 0.6;
  } 
  #songurl{
      text-decoration:none;
      color:white;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  } 
 
  #songurl:visited{
      text-decoration:none;
      color:white;
  }
  #songurl:hover{
    color: blue;
  }
  #bottom{
      margin-right:7vw;
      margin-left:7vw;
  }
  @media screen and (max-width: 640px) {
    #bottom {
        margin-right:5vw;
        margin-left:5vw;
   } 

}

  #video{
    margin-right:3vw;
    margin-left:5vw;
    margin-top:1vw;
    overflow:auto;
    display:block;
    
  }
  #video h1{
      color:white;
      font-size:2vw;
      text-align:center;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .improv{
      float:left;
      margin-bottom:4vw;
      margin-right:2vw;
      margin-left:2vw;
      border: 0.15vw solid blue;
  }
  @media screen and (max-width: 1278px) {
    .improv {
     display:inline-block;
     width: 36vw;
     height:23.4vw;
     margin-bottom:4vw;
     margin-right:4vw;
     margin-left:2vw;
     border: 0.15vw solid blue;
   }
   #video{
    margin-right:3vw;
    margin-left:7vw;
    margin-top:1vw;
    overflow:auto;
   }
 }
  @media screen and (max-width: 640px) {
     .improv {
      width: 98%;
      height:auto;
      display:block;
      margin:0 0 10px auto; /* The width is 100%, when the viewport is 800px or smaller */
    }
    #video{
        margin-right:3vw;
        margin-left:4.5vw;
        margin-top:1vw;
        overflow:auto;
       }

  }
footer{
    margin-left:5vw;
    margin-right:5vw;
    color:white;
    size:auto;
    border-top:0.1vw solid grey

}
.footer{
    display:inline-block;
    width:8vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
#footer1{
    margin: 1.5vw 0 3.5vw 5vw;
}
#footer2{
    margin: 1vw 0 3.5vw 8vw;

}
#footer3{
    margin: 1vw 0 3.5vw 8vw;

}
#footer4{
    margin: 1vw 0 3.5vw 8vw;

}
#footer5{
    margin: 1vw 0 3.5vw 8vw;

}
#footer6{
    margin: 1vw 0 3.5vw 8vw;

}
   footer p{
    display:inline-block;
    font-size: 1.2vw;
    line-height: 2.5vw;
    margin: 0 0 3vw;
    width:14vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif

}
